<h2>Mass Message</h2>

<p>Enter multiple numbers to send a mass message <b>Note:</b> Maximum of 5 numbers allowed</p>
<%= form_tag('/mass_message') do %>
<%= text_area(:mass_message, :numbers, size: "20x5") %>
<p>Enter Message</p>
<%= text_area(:mass_message, :message, size: "30x2") %><br />
<%= select_datetime(Time.now, ampm: true) %><br /><br />
<%= submit_tag "Send Mass Message", class: 'btn btn-info' %>
<br />
<br />

<% end %>