<div class="container">
<h1>Dashboard</h1>
<p id="notice"><%= notice %></p>
</div>

<% if user_has_phone? %>

<% if current_user.reminders != nil %>
    <div class="container">
      <h2>Messaging</h2>
      <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#new_reminder">New Reminder Message</button>
      <div id="new_reminder" class="collapse out">
      	<%= render partial: 'new_reminder', locals: { reminder: Reminder.new }%>
      </div>

      <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#mass_message">New Mass Message</button>
      <div id="mass_message" class="collapse out">
      	<%= render partial: 'mass_message' %>
      </div>

      <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#pending">View Pending Reminders</button>
      <div id="pending" class="collapse out">
      	<%= render partial: 'reminders', locals: {reminders: current_user.reminders }%> 
      </div>

    </div>

<% end %>
<% else %>
	<%= render partial: 'new_phone'%>
<% end %>

